/* Custom Font */
@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE000:before {
	content: "\e000";
}

.icon-uniE001:before {
	content: "\e001";
}

.icon-person:before {
	content: "\e002";
}

.icon-at:before {
	content: "\e003";
}

.icon-skype:before {
	content: "\e004";
}

.icon-twitter2:before {
	content: "\e600";
}

.icon-facebook2:before {
	content: "\e601";
}

.icon-google-plus2:before {
	content: "\e602";
}

.icon-phone:before {
	content: "\e603";
}

.icon-uniE604:before {
	content: "\e604";
}

.icon-check:before {
	content: "\e605";
}

.icon-credit:before {
	content: "\e606";
}

.icon-dollar:before {
	content: "\e607";
}

.icon-list:before {
	content: "\e608";
}

.icon-paypal:before {
	content: "\e609";
}

.icon-dollar2:before {
	content: "\e60a";
}

.icon-uniE60B:before {
	content: "\e60b";
}

.icon-card:before {
	content: "\e60c";
}

.icon-pencil:before {
	content: "\e60d";
}

.icon-uniE60E:before {
	content: "\e60e";
}

.icon-lock:before {
	content: "\e60f";
}

.icon-uniE611:before {
	content: "\e611";
}

.icon-oxxo:before {
	content: "\e612";
}

.icon-uniE613:before {
	content: "\e613";
}

.icon-email:before {
	content: "\e614";
}

.icon-uniE615:before {
	content: "\e615";
}

.icon-oxxo-mini:before {
	content: "\e616";
}

.icon-paypalmini:before {
	content: "\e617";
}

.icon-uniE618:before {
	content: "\e618";
}

.icon-uniE619:before {
	content: "\e619";
}

.icon-uniE61A:before {
	content: "\e61a";
}

.icon-uniE61B:before {
	content: "\e61b";
}

.icon-uniE61C:before {
	content: "\e61c";
}

.icon-calendar:before {
	content: "\e61d";
}

.icon-uniE61E:before {
	content: "\e61e";
}

.icon-google-plus:before {
	content: "\ea89";
}

.icon-facebook:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea92";
}

.icon-youtube:before {
	content: "\ea99";
}

/* End Custom Font */