a{
	color: white;
}

body {
	font-family: "lato", sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.AdBanner{
	background: #eff2e7;
	cursor: pointer;
	padding: 2.1em 0;
}

.AdBanner-badge {
	position: absolute;
	left: 70px;
	top: 0;
	height: 65px;
	width: 65px;
}

.AdBanner-content {
	display: inline-block;
	min-height: 75px;
	padding-left: 150px;
	position: relative;
	vertical-align: top;
}

.AdBanner-date{
	color: #16210b;
	position: absolute;
	vertical-align: top;
	top: -10px;
	left: 15px;
}

.AdBanner-dateDay {
	color: #16210b;
	border-bottom: 1px solid;
	display: block;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

.AdBanner-dateMonth {
	color: #16210b;
	padding: 5px 2px 0;
	display: block;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
}

.AdBanner-label {
	background: #ff4842;
	color: #fff;
	display: inline-block;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 6px 10px;
	text-transform: uppercase;
}

.AdBanner-title {
	color: #16210b;
	font-size: 26px;
	margin: 0;
}

.BannerBuy-buy{
	margin-left: 10px;
}
.brand-heading {
    font-size: 62px;
}

.btn{
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Lato',sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 35px;
	line-height: 32px;
	padding: 0 1em;
	text-decoration: none;	
}
.btn:hover{
	color: #fff;	
}

.btn--big{
	font-size: 23px;
	border-bottom-width: 5px;
	padding: 0 .7em;
	height: 56px;
	line-height: 51px;
}

.btn-green{
	background-color: #7dcd40;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Lato',sans-serif;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
	box-shadow: inset 0 -2px rgba(0,0,0,0.3);
	-webkit-appearance: none;
	-moz-appearance: none;
}

.btn-green:hover{
	color: #fff;
	background-color: #ff4842;
	-webkit-box-shadow: inset 0 -3px rgba(0,0,0,0.3);
	box-shadow: inset 0 -3px rgba(0,0,0,0.3);
}

.btn-yellow {
	background: #ffc33e;
	color: #b36929;
	border-color: #b36929;	
}

.btn-yellow:hover{
	color: #b36929;
}

.BuyMembership{
	background-color: #eff2e7;
	padding: 40px 0;
	text-align: center;
}

.BuyMembership-message {
	display: inline-block;
}

.CourseList {
	padding: 35px 0;
	text-align: center;
}

.CourseList-courseLink:hover{
	color: #ff4842;
	text-decoration: underline;
}

.CourseList-badge {
	height: 80px;
	width: 80px;
}

.CourseList-title {
	display: block;
	font-size: 33px;
	text-align: center;
}

.CourseList-titleBar {
	font-size: 35px;
	padding-bottom: 7px;
}

.CourseList-list {
	display: block;
	padding: 0;
	text-align: left;
}

.CourseList-listContainer {
	display: block;
	position: relative;
	left: -15px;
	font-size: 0;
}

.CourseList-course {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 30px;
	max-width: 30%;
	padding: 50px 0;
	position: relative;
	vertical-align: top;
	width: 100%;
}

.CourseList-course a {
	text-decoration: none;
}

.CourseList-courseData {
	float: left;
	font-size: 0;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

.CourseList-courseInfo {
	text-align: left;
	margin-left: 105px;
}

.CourseList-courseTitle {
	color: #16210b;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 15px;
	text-decoration: none;
}

.CourseList-courseLink {
	display: block;
	color: #ff4842;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.Footer {
	background: #16210b;
	color: #fff;
	padding: 20px 0 70px;
}

.Footer-container{
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-lines: multiple;
	display:flex;
}

.Footer-row{
	max-width: 250px;
}

.Footer-ImageDescription{
	margin-top: 1em;
}

.Footer-List {
	margin: 0;
	padding: 0;
}

.Footer-Item {
	color: #fff;
	display: block;
	font-weight: bold;
	margin: 10px 20px;
	text-decoration: underline;
}
.Footer-Item a:hover{
	color: #ff4842;
}
.FollowUs{
	text-align: center;
}

.FollowUs-list{
	margin-top: 1em;
}

.FollowUs-item{
	display: inline-block;
	margin-left: 1em;
	font-size: 44px;
}

.FollowUs-item a:hover{
	color: #ff4842;
	text-decoration: none;
}

.Header {
	background: rgba(255,255,255,0);
	height: 52px;
}

.Header-logo {
	float: left;
	overflow: hidden;
	padding: 7px 0;
	vertical-align: top;
	position: relative;
}

.Header-container {
	position: relative;
	height: inherit;
}

.Header-menuContainer {
	right: 0;
	top: 0;
	height: inherit;
}

.Menu {
	float: right;
}

.Menu-container {
	font-size: 0;
	line-height: 0;
	text-align: right;
	margin-right: 10px;
}

.Menu-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	position: relative;
	vertical-align: top;
}

.Menu-link {
	display: block;
	padding: 15px 15px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

.Menu-link:hover{
	color: #ff4842;
}

.main-section {
	padding: 1em 0 4em 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-color: #000;
    background-size: cover;
    background: url("https://static.platzi.com/media/courses/backend_cover.jpg") no-repeat bottom center scroll;
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 1 3px rgba(0,0,0,0.3);
	box-shadow: 1 3px rgba(0,0,0,0.3);
}

.main-body {
    vertical-align: middle;
	padding: 90px 0;
}

.u-clearfix {
	zoom: 1;
}

.u-wrapper{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 15px;
	position: relative;
}